<div>
    <% product.forEach(function(eachCat) { %>
    <tr>
        <td> <%= eachCat.name %> </td>
        <br>
        <td> <%= eachCat.category %> </td>
        <br>
        <td> <%= eachCat.price %> </td>
        <br>
        <td> <%= eachCat.image %> </td>
        <br>
    </tr>
    <% }) %>
</div>