<body style="background-color: burlywood;">
<link rel="stylesheet" type="text/css" href="css/style.css">
<div class="index-all">
<h1 class="h1">Register</h1>
<div class="index-small">
<form action="/register" method="POST">
    //definere input
    <div>
        <label for="name">Name</label>
        <input class="p-Information" type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input class="p-Information" type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input class="p-Information" type="password" id="password" name="password" required>
    </div>
    <br>
    <button class="button" type="submit">Register</button>
</form>
<a href="/login">Login</a>
</div>
</div>
</body>